@using PruebaWebMaster.Services
@model Tienda
@{
    ViewData["Title"] = "Crear nueva tienda";
    
}

<h1>DETALLE TIENDA</h1>
<h5>Informacion general de la tienda</h5>
<hr />
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="Tiendas" asp-action="Detalle">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"><b>Nombre: </b></label>
        <label asp-for="Nombre" class="form-label">@Model.Nombre</label>
    </div>
    <div class="mb-3">
        <label asp-for="Direccion" class="form-label"><b>Direccion: </b></label>
        <label asp-for="Direccion" class="form-label">@Model.Direccion</label>
    </div>
    <div class="mb-3">
        <label asp-for="Telefono" class="form-label"><b>Telefono: </b></label>
        <label asp-for="Telefono" class="form-label">@Model.Telefono</label>
    </div>
    <a asp-action="Index" class="btn btn-success">Ir a la lista</a>
    <hr />
    <div class="mb-3">
        @if (!User.IsInRole(Constantes.RolAdmin))
        {
            <a asp-action="Editar" asp-route-id="@Model.Id">Ir a Editar</a>
            <a asp-action="Eliminar" asp-route-id="@Model.Id">Ir a Eliminar</a>
        }

    </div>

</form>
